@import "tailwindcss";


* {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


span{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 236, 65);
  font-weight: 800;
  font-display: fallback;
  border-radius: 100%;
  padding: 10px;
}
